/* Layout Styles */

.layout-container {
  display: flex;
  height: 100vh;
  background-color: var(--color-off-white);
  overflow: hidden;
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.layout-content {
  flex: 1;
  overflow-y: auto;
  background-color: var(--color-off-white);
}
